{% extends 'base.html.twig' %}

{% block title %}{{parent()}}inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-primary" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">inscription</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 text-primary">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn text-primary ">s'inscrire</button>

            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
